%h1= @project.title
%p= @project.description

#comments
	%h2.comment_count= pluralize(@project.floorplans.count, "Floorplans")
	- @project.floorplans.each do |floorplan|
		.comment
			/ %p.username= floorplan.name
			/ = link_to "Edit", edit_project_floorplan_path(@project,floorplan)
			%h3= link_to floorplan.name, project_floorplan_path(floorplan)
	= render "floorplans/form"

= link_to "Back", root_path
= link_to "Edit", edit_project_path(@project)
= link_to "Delete", @project , method: :delete, data: {confirm: "Are you sure"}
